#sources-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    div.sep {
        width: 0;
        margin: 0 0.25em;
        height: 1em;
        // translate: 0 var(--icons-translate);
        border-left: 1px solid black;
    }

    form {
        display: inline-block;

        input[type="file"] {
            display: none;
        }
        
        label[for="upload"] {
            cursor: pointer;
            display: block;
            button {
                pointer-events: none;
            }
        }
    }
}

#lists-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    div.sep {
        width: 0;
        margin: 0 0.25em;
        height: 1em;
        // translate: 0 var(--icons-translate);
        border-left: 1px solid black;
    }
}

#progress-dialog {
    progress {
        width: 100%;
    }
}

#help-dialog {
    max-width: 1200px;
    button.moz {
        pointer-events: none;
        appearance: none;
        color: rgb(21, 20, 26);
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: color(srgb 0.0823529 0.0784314 0.101961 / 0.07);
        font-weight: 400;
        text-decoration: none;
        font-size: 1em;
    }
}

#allowlist-table {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto 1fr;

    > .table-footer {
        border-top: 2px solid #999;
        grid-column: 1 / 5;
        > a {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }

    > .table-header {
        border-bottom: 2px solid #999;
        font-weight: bold;
    }
    > .table-header, .table-body, .table-row {
        display: grid;
        grid-column: 1 / 5;
        grid-template-columns: subgrid;
    }

    :is(.table-header, .table-row) > * {
        padding: 0.5ex 0.5em;
    }

    :is(.table-header, .table-row) > * { align-content: center;}
    .table-row > :not(:first-child) { border-left: 1px solid #c1c1c1; }
    // :is(.table-header, .table-row) > :nth-child(4) { grid-column: 4; }
    
    .table-row > :nth-child(1) {
        display: flex;
        gap: 0.25em;
        align-items: center;
    }
    
    .table-header > :nth-child(2) {
        text-align: right;
    }
    .table-row > :nth-child(2) {
        font-size: smaller;
        text-align: right;
        border-left: none;
    }
    
    .table-row > :nth-child(3) {
        display: flex;
        gap: 0.25em;
        align-items: center;
        border-left: none;
    }
    
    .table-row > :nth-child(4) {
        display: flex;
        gap: 0.25em;
        align-items: center;
    }

    .table-row + .table-row {
        border-top: 1px solid #eee;
    }
}

#denylist-table {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;

    > .table-footer {
        border-top: 2px solid #999;
        grid-column: 1 / 3;
        > a {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }

    > .table-header {
        border-bottom: 2px solid #999;
        font-weight: bold;
    }
    > .table-header, .table-body, .table-row {
        display: grid;
        grid-column: 1 / 3;
        grid-template-columns: subgrid;
    }

    :is(.table-header, .table-row) > * {
        padding: 0.5ex 0.5em;
    }

    :is(.table-header, .table-row) > * { align-content: center;}
    .table-row > :not(:first-child) { border-left: 1px solid #c1c1c1; }
    // :is(.table-header, .table-row) > :nth-child(4) { grid-column: 4; }
    
    .table-header > :nth-child(1) {
        text-align: center;
    }

    .table-row > :nth-child(1) {
        font-size: smaller;
    }
    
    .table-row > :nth-child(2) {
        display: flex;
        gap: 0.25em;
        align-items: center;
        border-left: none;
    }

    .table-row + .table-row {
        border-top: 1px solid #eee;
    }
}

.rule + .rule {
    padding-left: 0.5em;
}

// #allowlist-table {
//     > li > ol > li {
//         display: inline-block;
//         +li {
//             margin-left: 0.5em;
//         }
//     }
// }

ruby {
    ruby-align: center;
    rt {
        font-weight: bold;
        border-top: 1px dashed #333;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    &.ruby-below{
        ruby-position: under;
        rt {
            border-bottom: 1px dashed #333;
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;
            border-top: none;
            border-top-left-radius: none;
            border-top-right-radius: none;
        }
    }
    &.ruby-above {
        ruby-position: over;
        rt {
            border-top: 1px dashed #333;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            border-bottom: none;
            border-bottom-left-radius: none;
            border-bottom-right-radius: none;
        }
    }
}

#new-scraping-rule-form {
    gap: 0.5em 1em;
    display: grid;
    grid-template-columns: auto 1fr;

    label {
        grid-column: 1;
    }
    input {
        grid-column: 2;
    }

    button[type="reset"] {
        grid-row: 2;
        grid-column: 1;
        justify-self: left;
    }
    button[type="submit"] {
        grid-row: 2;
        grid-column: 2;
        justify-self: right;
    }
}

#edit-scraping-rule-filter-form {
    gap: 0.5em 1em;
    display: grid;
    grid-template-columns: auto 1fr;

    label {
        grid-column: 1;
    }
    input {
        grid-column: 2;
    }

    button[type="reset"] {
        grid-row: 2;
        grid-column: 1;
        justify-self: left;
    }
    button[type="submit"] {
        grid-row: 2;
        grid-column: 2;
        justify-self: right;
    }
}

#new-scraping-rule-filter-form {
    gap: 0.5em 1em;
    display: grid;
    grid-template-columns: auto 1fr;

    label {
        grid-column: 1;
    }
    input, select {
        grid-column: 2;
    }

    button[type="reset"] {
        grid-row: 3;
        grid-column: 1;
        justify-self: left;
    }
    button[type="submit"] {
        grid-row: 3;
        grid-column: 2;
        justify-self: right;
    }
}

